<div class="home">
  <div class="cart-body container">


      <div class="container title">

          <div class="row">
            <div class="col-3">

            </div>
          <div class="col-3">
          <p class="des">Description</p>
          </div>


          <div class="col-3">
          <p class="qty me-5"> Quantity</p>
          </div>


          <div class="col-1">
           <p class="pc">Price</p>
          </div>

          <div class="col-1">
           <p class="rmv ps-5">Remove</p>
          </div>


          </div>



      </div>


      <div #dynamicContainer></div>


  </div>
  </div>
