<section class="Cover-section">
  <div class="container">
    <h1>Welcome to Products app</h1>
    <p>Buy anything, anytime, anywhere.</p>
    <a href="products" class="btn btn-light btn-lg">Get Started</a>
  </div>
</section>

<section class="featured-section">
  <div class="container">
    <h2 class="text-center mb-4">Featured</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <a href="products/11">
          <div class="card movie-card">
            <div class="image-container">
              <img
              src="https://cdn.dummyjson.com/products/images/furniture/Annibale%20Colombo%20Bed/thumbnail.png"
              class="card-img-top"
              alt="Movie Title"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Annibale Colombo Bed</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="products/10">
          <div class="card movie-card">
            <div class="image-container">
              <img
              src="https://cdn.dummyjson.com/products/images/fragrances/Gucci%20Bloom%20Eau%20de/thumbnail.png"
              class="card-img-top"
              alt="Movie Title"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Gucci Bloom Eau de</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 mb-4">
        <a href="products/12">
          <div class="card movie-card">
            <div class="image-container">
              <img
              src="https://cdn.dummyjson.com/products/images/furniture/Annibale%20Colombo%20Sofa/thumbnail.png"
              class="card-img-top"
              alt="Movie Title"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Annibale Colombo Sofa</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
